<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamvii.healthcare">

    <uses-permission android:name="com.example.udacity.droidtermsexample.TERMS_READ" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".Ui.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".data.HealthCareProvider"
            android:authorities="com.teamvii.healthcare"
            android:exported="false" />

        <activity android:name=".Ui.MainActivity" />

        <activity android:name=".Ui.SettingsActivity" />
        <activity android:name=".Ui.ShowDoctors" />

        <activity
            android:name=".Ui.FindDoctor"

            android:parentActivityName=".Ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Ui.MainActivity" />
        </activity>

        <service
            android:name=".sync.HealthCareSyncIntentService"
            android:exported="false" />

    </application>

</manifest>